@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;
}

html, body { height: 100%; }
body {
  @apply bg-white text-slate-900 antialiased;
  font-feature-settings: "rlig" 1, "calt" 1;
}

::selection { background: theme(colors.brand.200); color: theme(colors.brand.900); }
